.text-dm {
  font-family: "DM Sans", sans-serif;
}
.text-slab {
  font-family: "Roboto Slab", serif;
}
.text-mono {
  font-family: "Roboto Mono", serif;
}
.text-poppins {
  font-family: "Poppins", sans-serif;
}
