* {
  color: #000;
}
.form-control::placeholder {
  color: #191919;
  opacity: 1;
}

.text-dm {
  font-family: "DM Sans", sans-serif;
}
.text-rubik {
  font-family: "Rubik", serif;
}
.grow:hover {
  transform: translate(0px, -5px);
  transition: transform 300ms ease-in-out;
}
.grow {
  transition: transform 300ms ease-in-out;
}
.bg-dark {
  background-color: #111 !important;
}
.bg-black {
  background-color: #191919 !important;
}
